
#currencies {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#currencies .hoz-group {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
#currencies .hoz-group > * {
    flex: 1;
}
#currencies .faction-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}
.currency {
    position: relative;
    background: var(--background-2);
    border: 1px solid var(--border-0);
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
}
.currency > span:last-child {
    font-family: var(--number-font);
    position: absolute;
    right: 5px;
}
.currency.f-fire {
    background: var(--faction-fire-bg);
}
.currency.f-water {
    background: var(--faction-water-bg);
}
.currency.f-leaf {
    background: var(--faction-leaf-bg);
}
.currency.f-sun {
    background: var(--faction-sun-bg);
}
.currency.f-moon {
    background: var(--faction-moon-bg);
}

.currency::before {
    content: attr(data-name);
}
  
.card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
}

.game-card {
    --inside-radius: 5px;

    position: relative;
    width: 120px;
    height: 180px;
    background: var(--rarity-gradient);
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    /* overflow: hidden; */
    text-align: center;
    box-sizing: content-box;
    padding: 1px;

    user-select: none;
    -webkit-user-select: none;
}
.game-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #000000f9;
    border-radius: var(--inside-radius);
}
.game-card.f-fire {
    --card-color: var(--faction-fire-color);
}
.game-card.f-water {
    --card-color: var(--faction-water-color);
}
.game-card.f-leaf {
    --card-color: var(--faction-leaf-color);
}
.game-card.f-sun {
    --card-color: var(--faction-sun-color);
}
.game-card.f-moon {
    --card-color: var(--faction-moon-color);
}
.game-card > img {
    position: absolute;
    inset: 0;
    width: 120px;
    height: 180px;
    margin: 1px;
    pointer-events: none;
}
.game-card-name {
    position: absolute;
    inset: auto 1px 1px 1px;
    padding: 20px 10px 5px 10px;
    color: var(--card-color);
    background: linear-gradient(var(--card-gradient));
    border-radius: 0 0 4px 4px;
}
.game-card-stars {
    position: absolute;
    inset: 1px 1px auto 1px;
    padding: 5px 10px 10px 10px;
    color: var(--color-2);
    background: linear-gradient(0deg, var(--card-gradient));
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px 4px 0 0;
}
.game-card-stars:empty {
    display: none;
}
.game-card-stars [icon*="-fill"] {
    color: var(--card-star-color);
}
.game-card-stars.crown {
    font-size: 24px;
    line-height: 18px;
}
.game-card .draw-amount {
    background: var(--background-1);
    border: 1px solid var(--border-0);
    display: inline-block;
    padding: 3px 7px;
    border-radius: 5px;
    position: absolute;
    left: 80%;
    top: -10px;
    transform: translateX(-50%) rotate(10deg);
    z-index: 2;
    white-space: nowrap;
}

.card-block > .game-card:not(:last-child),
.card-block > .game-card:not(:last-child)::before,
.card-block > .game-card:not(:last-child) .game-card-name {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card-block > .card-action {
    display: flex;
}
.card-block > .card-action > * {
    flex: 1;
    border-radius: 0;
}
.card-block > .card-action > :first-child {
    border-bottom-left-radius: 5px;
}
.card-block > .card-action > :last-child {
    border-bottom-right-radius: 5px;
}
.card-block > .card-action > :is([state="off"], [state="max"]) {
    color: var(--color-3);
}
.card-block > .card-action > :not([state]):disabled {
    --fill: calc(var(--progress) * 100%);
    background: linear-gradient(var(--bg-1), var(--bg-1)), linear-gradient(var(--bg-0), var(--bg-0));
    background-position: bottom;
    background-repeat: no-repeat, repeat;
    background-size: 100% var(--fill), 100% 100%;
}
.card-block > .card-action > :not(:disabled) {
    --bg-0: var(--button-value-bg-0);
    --bg-1: var(--button-value-bg-1);
    --bg-2: var(--button-value-bg-2);
    --color: var(--button-inv-color);
    --color-active: var(--button-inv-color-active);
    --text-shadow: 0 1px var(--button-inv-text-shadow);
}

.opt-container {
    background: var(--background-1);
    border: 1px solid var(--border-0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-2);
}
.opt-container + .opt-container {
    margin-top: 10px;
}
.opt-entry {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 10px;
    gap: 10px;
}
.opt-entry > label {
    flex: 0 0 200px;
    text-align: end;
}
.opt-entry > label > small {
    display: block;
    color: var(--color-1);
}
.opt-entry > span {
    display: block;
    width: 100%;
}

.choice-group {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    gap: 2px;
}
.choice-group button:disabled {
    color: var(--color-0);
    border-color: var(--border-1);
    font-weight: bold;
    background: var(--background-1);
    box-shadow: inset var(--shadow-2), inset var(--shadow-1);
}
.choice-group button.f-fire:disabled {
    background: var(--button-fire-bg-0);
}
.choice-group button.f-water:disabled {
    background: var(--button-water-bg-0);
}
.choice-group button.f-leaf:disabled {
    background: var(--button-leaf-bg-0);
}
.choice-group button.f-sun:disabled {
    background: var(--button-sun-bg-0);
}
.choice-group button.f-moon:disabled {
    background: var(--button-moon-bg-0);
}
.faction-picker > * {
    flex: 1;
}

.input-group {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    gap: 2px;
}
.input-group label {
    display: block;
    margin-inline-start: -2px;
    padding-inline: 5px;
    padding-block-end: 3px;
    border-bottom: 1px solid var(--border-0);
}
input[type="checkbox"] {
    appearance: none;
    position: relative;
    display: inline-block;
    background: var(--background-1);
    box-shadow: inset var(--shadow-2), inset var(--shadow-1), var(--shadow-1);
    border: 1px solid var(--border-0);
    border-radius: 5px;
    padding: 7px;
    height: 35px;
    width: 35px;
    margin: 0;
    font: inherit;
}
input[type="checkbox"]:hover {
    border: 1px solid var(--border-1);
}
input[type="checkbox"]:active {
    background: var(--background-0);
    border: 1px solid var(--border-0);
}
input[type="checkbox"]::before {
    content: "\00a0";
}
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    transform: translate(.04em, -.15em) rotate(45deg);
    width: 0.5em;
    height: 1em;
    border-bottom: 2px solid var(--color-0);
    border-right: 2px solid var(--color-0);
}

.save-box {
    width: 100%;
    height: 100px;
    resize: none;
    font: inherit;
    font-size: 0.6em;
    color: var(--color-0);
    background: var(--background-1);
    box-shadow: inset var(--shadow-2), inset var(--shadow-1), var(--shadow-1);
    border: 1px solid var(--border-0);
    border-radius: 5px;
    padding: 7px;
    margin-top: 10px;
}
.save-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}
.save-summary {
    padding-inline: 10px;
}

.about-scroll {
    overflow-y: auto;
    width: 500px;
    max-width: calc(100% + 20px);
    margin: -10px -10px 0 -10px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.john {
    background: var(--background-0);
    display: block;
    width: 500px;
    max-width: min(732px, 100%);
    aspect-ratio: 726 / 90;
    border: none;
}