
#currencies {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#currencies .hoz-group {
    display: flex;
    flex-direction: row;
    gap: 2px;
}
#currencies .hoz-group > * {
    flex: 1;
}
#currencies .faction-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}
.currency {
    position: relative;
    background: var(--background-2);
    border: 1px solid var(--border-0);
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: var(--shadow-1);
}
.currency > span:last-child {
    font-family: var(--number-font);
    position: absolute;
    right: 5px;
}
.currency.f-fire {
    background: var(--faction-fire-bg);
}
.currency.f-water {
    background: var(--faction-water-bg);
}
.currency.f-leaf {
    background: var(--faction-leaf-bg);
}
.currency.f-sun {
    background: var(--faction-sun-bg);
}
.currency.f-moon {
    background: var(--faction-moon-bg);
}

.currency::before {
    content: attr(data-name);
}
  
.card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5px;
}

.game-card {
    --inside-radius: 5px;

    position: relative;
    width: 120px;
    height: 180px;
    background: var(--rarity-gradient);
    border-radius: 5px;
    box-shadow: var(--shadow-1);
    /* overflow: hidden; */
    text-align: center;
    box-sizing: content-box;
    padding: 1px;

    user-select: none;
    -webkit-user-select: none;
}
.game-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #000000cc;
    border-radius: var(--inside-radius);
}
.game-card.f-fire {
    --card-color: var(--faction-fire-color);
}
.game-card.f-water {
    --card-color: var(--faction-water-color);
}
.game-card.f-leaf {
    --card-color: var(--faction-leaf-color);
}
.game-card.f-sun {
    --card-color: var(--faction-sun-color);
}
.game-card.f-moon {
    --card-color: var(--faction-moon-color);
}
.game-card > img {
    position: absolute;
    inset: 0;
    width: 120px;
    height: 180px;
    margin: 1px;
    border-radius: 4px;
    pointer-events: none;
    image-rendering: pixelated;
}
.game-card-name {
    position: absolute;
    inset: auto 1px 1px 1px;
    padding: 20px 10px 5px 10px;
    color: var(--card-color);
    background: linear-gradient(var(--card-gradient));
    border-radius: 0 0 4px 4px;
    text-shadow: var(--shadow-0), var(--shadow-1), var(--shadow-1);
    --rarity-filter: drop-shadow(var(--shadow-0)) drop-shadow(var(--shadow-0));
}
.game-card-stars {
    position: absolute;
    inset: 1px 1px auto 1px;
    padding: 5px 10px 10px 10px;
    color: var(--color-2);
    background: linear-gradient(0deg, var(--card-gradient));
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px 4px 0 0;
}
.game-card-stars:empty {
    display: none;
}
.game-card-stars [icon*="-fill"] {
    color: var(--card-star-color);
}
.game-card-stars.crown {
    font-size: 24px;
    line-height: 18px;
}
.game-card .draw-amount {
    background: var(--background-1);
    border: 1px solid var(--border-0);
    display: inline-block;
    padding: 3px 7px;
    border-radius: 5px;
    position: absolute;
    left: 80%;
    top: -10px;
    transform: translateX(-50%) rotate(10deg);
    z-index: 2;
    white-space: nowrap;
}

.card-block > .game-card:not(:last-child),
.card-block > .game-card:not(:last-child)::before,
.card-block > .game-card:not(:last-child) .game-card-name,
.card-block > .game-card:not(:last-child) img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card-block > .card-action {
    display: flex;
}
.card-block > .card-action > * {
    flex: 1;
    border-radius: 0;
}
.card-block > .card-action > :first-child {
    border-bottom-left-radius: 5px;
}
.card-block > .card-action > :last-child {
    border-bottom-right-radius: 5px;
}
.card-block > .card-action > :is([state="off"], [state="max"]) {
    color: var(--color-3);
}
.card-block > .card-action > :not([state]):disabled {
    --fill: calc(var(--progress) * 100%);
    background: linear-gradient(var(--bg-1), var(--bg-1)), linear-gradient(var(--bg-0), var(--bg-0));
    background-position: bottom;
    background-repeat: no-repeat, repeat;
    background-size: 100% var(--fill), 100% 100%;
}
.card-block > .card-action > :not(:disabled) {
    --bg-0: var(--button-value-bg-0);
    --bg-1: var(--button-value-bg-1);
    --bg-2: var(--button-value-bg-2);
    --color: var(--button-inv-color);
    --color-active: var(--button-inv-color-active);
    --text-shadow: 0 1px var(--button-inv-text-shadow);
}

.skill-holder {
    display: flex;
    margin-top: 10px;
    gap: 2px;
}
.skill-holder.reaction {
    animation: shake .5s infinite;
}
.skill-holder > button {
    flex: 1;
    aspect-ratio: 1;
    position: relative;
}
.skill-holder > button.disabled {
    border-color: var(--border-0);
    color: var(--color-active);
    background: var(--bg-0);
    cursor: default;
}
.skill-holder > button::before {
    content: var(--stack);
    font-family: var(--number-font);
    position: absolute;
    inset: -5px 5px auto 5px;
    text-align: center;
    background: var(--bg-2);
    border: 1px solid var(--border-1);
    border-radius: 3px;
    box-shadow: var(--shadow-1);
    padding: 1px 0 0 0;
    display: block;
    font-size: smaller;
    white-space: nowrap;
}
.skill-holder > button::after {
    content: var(--cooldown);
    font-family: var(--number-font);
    position: absolute;
    inset: auto 0 0 0;
    border-radius: 4px;
    text-align: center;
    background: linear-gradient(#0000, var(--bg-1));
    padding-top: 30px;
    display: block;
    font-size: smaller;
    white-space: nowrap;
}
.skill-holder > button.disabled::after {
    background: linear-gradient(#0000, var(--background-0));
}
.skill-holder > button.active {
    background: var(--bg-1);
    border-color: var(--border-1);
    box-shadow: 0px 1px 2px var(--bg-2);
}
.skill-holder > button.active::after {
    background: linear-gradient(#0000, var(--bg-2));
}
.skill-holder > button > iconify-icon {
    font-size: 2em;
}


.infobook-holder {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.infobook-holder .tab-buttons {
    padding-inline: 10px;
}
.infobook-cards {
    --inline-padding: 40px;
    flex: 1;
    position: relative;
    display: flex;
    gap: 10px;
    margin: -10px -20px;
    padding: 10px 0 10px var(--inline-padding);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-inline-start: var(--inline-padding);
    align-items: stretch;
    mask: linear-gradient(white, white) left / calc(100% - 40px) repeat-y, 
        linear-gradient(90deg, white, #0000) right / 40px repeat-y;
}
.infobook-cards::after {
    content: "";
    display: block;
    flex: 0 0 calc(var(--length) * calc(var(--item-width) + 10px) + var(--inline-padding) - 10px);
    background: transparent;
}
.infobook-card {
    position: absolute;
    left: calc(var(--index) * calc(var(--item-width) + 10px) + var(--inline-padding));
    width: var(--item-width);
    top: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    background: var(--background-1);
    border: 1px solid var(--border-0);
    border-radius: 5px;
    box-shadow: var(--shadow-2);
    scroll-snap-align: start;
}
.infobook-card > .header {
    padding: 7px 10px;
    background: linear-gradient(20deg, var(--background-2), transparent);
    border-radius: 4px 4px 0 0;
}
.infobook-card > .content {
    padding: 5px 10px 9px 10px;
    overflow-y: auto;
    flex: 1;
}
.page-indicators {
    margin-block: 10px 5px;
    display: flex;
    justify-content: center;
    gap: 2px;
    z-index: 1;
}
.page-indicators > .indicator {
    flex: 0 1 40px;
    height: 5px;
    background: linear-gradient(var(--background-1), var(--background-1) 50%, var(--color-0) 50%, var(--color-0)) 
        -1px calc(var(--lit, 0) * calc(100% + 2px) - 1px) 
        / calc(100% + 2px) 400% no-repeat;
    border: 1px solid var(--border-0);
    box-shadow: var(--shadow-1);
    border-radius: 2px;
    cursor: pointer;
}
.infobook-holder .page-button {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.infobook-holder .page-button.left {
    left: -15px;
    top: 50%;
}
.infobook-holder .page-button.right {
    right: -15px;
    top: 50%;
}
.stat-entry {
    display: flex;
    align-items: baseline;
    align-items: last baseline;
    border-bottom: 1px dashed var(--border-0);
    padding-block: 2px;
    margin-top: 3px;
}
.stat-entry > .value {
    flex: 1;
    text-align: end;
}
.stat-entry > button {
    padding: 2px 5px;
    margin-block: -3px;
}
.stat-entry > button:disabled {
    --fill: calc(var(--progress) * 100%);
    background: linear-gradient(var(--bg-1), var(--bg-1)), linear-gradient(var(--bg-0), var(--bg-0));
    background-position: bottom;
    background-repeat: no-repeat, repeat;
    background-size: 100% var(--fill), 100% 100%;
}
.stat-entry > button:not(:disabled) {
    --bg-0: var(--button-value-bg-0);
    --bg-1: var(--button-value-bg-1);
    --bg-2: var(--button-value-bg-2);
    --color: var(--button-inv-color);
    --color-active: var(--button-inv-color-active);
    --text-shadow: 0 1px var(--button-inv-text-shadow);
}

.badge-list {
    display: grid;
    padding-block: 5px 1px;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    align-content: start;
}
.badge-list .badge {
    overflow: hidden;
    aspect-ratio: 1;
    background: var(--rarity-ex);
    box-shadow: var(--shadow-1);
    padding: 1px;
    position: relative;
    animation: badge-flair 3s infinite linear;
}
.badge-list .badge.locked {
    background: var(--border-0);
    animation: none;
    transform: translateY(1px);
}
.badge-list .badge.locked:after {
    content: "";
    position: absolute;
    inset: 1px;
    background: url(../res/badges/locked.png) center / 100% 100%;
    image-rendering: pixelated;
}
.badge-list .badge > img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
.badge-list .badge.locked > img {
    opacity: 0.5;
    filter: blur(5px);
}
@keyframes badge-flair {
    0% { box-shadow: 0 2px 4px #faa; }
    16% { box-shadow: 0 2px 4px #dd1; }
    33% { box-shadow: 0 2px 4px #5f5; }
    50% { box-shadow: 0 2px 4px #3ff; }
    66% { box-shadow: 0 2px 4px #aaf; }
    83% { box-shadow: 0 2px 4px #f9f; }
    100% { box-shadow: 0 2px 4px #faa; }
}
.show-list {
    padding-block: 5px 1px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.opt-container {
    background: var(--background-1);
    border: 1px solid var(--border-0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-2);
}
.opt-container + .opt-container {
    margin-top: 10px;
}
.opt-entry {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 10px;
    gap: 10px;
}
.opt-entry > label {
    flex: 0 0 200px;
    text-align: end;
}
.opt-entry > label > small {
    color: var(--color-1);
}
.opt-entry > span {
    display: block;
    width: 100%;
}
.save-timer-br::after {
    white-space: pre-wrap;
    content: "\A";
}

.choice-group {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    gap: 2px;
}
.choice-group button:disabled {
    color: var(--color-0);
    border-color: var(--border-1);
    font-weight: bold;
    background: var(--background-1);
    box-shadow: inset var(--shadow-2), inset var(--shadow-1);
}
.choice-group button.f-fire:disabled {
    background: var(--button-fire-bg-0);
}
.choice-group button.f-water:disabled {
    background: var(--button-water-bg-0);
}
.choice-group button.f-leaf:disabled {
    background: var(--button-leaf-bg-0);
}
.choice-group button.f-sun:disabled {
    background: var(--button-sun-bg-0);
}
.choice-group button.f-moon:disabled {
    background: var(--button-moon-bg-0);
}
.faction-picker > * {
    flex: 1;
}

.note-container {
    background: var(--background-1);
    border: 1px solid var(--border-0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-2);
}
.card-filters {
    background: var(--background-1);
    border: 1px solid var(--border-0);
    padding: 10px 0 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow-2);
    white-space: nowrap;
    gap: 10px;
    overflow-x: auto;
}
.card-filters > .choice-group {
    display: inline-flex;
    gap: 0px;
    box-shadow: var(--shadow-1);
    border-radius: 5px;
    padding: 0;
    margin: 0 10px 0 0;
    flex: 0 0 fit-content;
    overflow: hidden;
}
.card-filters > .choice-group > * {
    border-radius: 0;
    margin-right: -1px;
    box-shadow: none;
    z-index: 1;
}
.card-filters > .choice-group > :disabled {
    z-index: 2;
}
.card-filters > .choice-group > .value:disabled {
    background-color: var(--bg-0);
}
.card-filters > .choice-group > :hover {
    z-index: 3;
}
.card-filters > .choice-group > :active {
    z-index: 0;
}
.card-filters > .choice-group > :first-child {
    border-radius: 5px 0 0 5px;
}
.card-filters > .choice-group > :last-child {
    border-radius: 0 5px 5px 0;
    margin-right: 0;
}
.pickit-clock {
    border: 1px solid var(--border-0);
    padding: 7px 10px;
    font-family: var(--number-font);
}

.input-group {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    gap: 2px;
}
.input-group label {
    display: block;
    margin-inline-start: -2px;
    padding-inline: 5px;
    padding-block-end: 3px;
    border-bottom: 1px solid var(--border-0);
}
input[type="checkbox"] {
    appearance: none;
    position: relative;
    display: inline-block;
    background: var(--background-1);
    box-shadow: inset var(--shadow-2), inset var(--shadow-1), var(--shadow-1);
    border: 1px solid var(--border-0);
    border-radius: 5px;
    padding: 7px;
    height: 35px;
    width: 35px;
    margin: 0;
    font: inherit;
}
input[type="checkbox"]:hover {
    border: 1px solid var(--border-1);
}
input[type="checkbox"]:active {
    background: var(--background-0);
    border: 1px solid var(--border-0);
}
input[type="checkbox"]::before {
    content: "\00a0";
}
input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    transform: translate(.04em, -.15em) rotate(45deg);
    width: 0.5em;
    height: 1em;
    border-bottom: 2px solid var(--color-0);
    border-right: 2px solid var(--color-0);
}

.save-box {
    width: 100%;
    height: 100px;
    resize: none;
    font: inherit;
    font-size: 0.6em;
    color: var(--color-0);
    background: var(--background-1);
    box-shadow: inset var(--shadow-2), inset var(--shadow-1), var(--shadow-1);
    border: 1px solid var(--border-0);
    border-radius: 5px;
    padding: 7px;
    margin-top: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.save-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}
.save-summary {
    padding-inline: 10px;
}

.about-scroll {
    overflow-y: auto;
    width: 500px;
    max-width: calc(100% + 20px);
    margin: -10px -10px 0 -10px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.info-button {
    color: var(--color-1);
    cursor: help;
}

.john {
    background: var(--background-0);
    display: block;
    width: 732px;
    max-width: min(732px, 100%);
    aspect-ratio: 726 / 90;
    border: none;
}